**Tesztelő: Cserneczky Bálint Böngésző: Google Chrome Tesztelendő elemek: Back-end**

| **Tesztelendő elem** | **Várt működés** | **Eredmény** | **Megjegyzés** |
| --- | --- | --- | --- |
| **Navigáció** | Az oldal navigációs sávjában található hivatkozások a megfelelő helyre irányítsák a usert. | A várt működésnek megfelelő eredmény. | - |
| **Regisztráció** | A regisztráció csak a regisztrációs űrlap megfelelő kitöltése után kerüljön elküldésre. | A várt működésnek megfelelő eredmény. | A Név mező helyett lehetne „Teljes név&quot; mezőt használni, az egyértelműség érdekében, mert így usernamenek is lehet értelmezni. |
| **Regisztráció** | Már használt felhasználói adatok esetén sikertelen regisztráció. | A várt működésnek megfelelő eredmény. | - |
| **Bejelentkezés** | Megfelelő email és jelszó páros esetén bejelentkezetés, ellenkező esetben hibaüzenet. | A várt működésnek megfelelő eredmény. | - |
| **Kedvencek** | A kedvencek fül csak bejelentkezés után legyen használható. | A várt működésnek megfelelő eredmény. | CSS módosítások a hibaüzenetre elférnek. |
| **Kedvencek** | Relogin után a kedvencek kilistázásra kerüljenek az adott felhasználónál | A várt működésnek megfelelő eredmény. | - |
| **Fiókadatok módosítása** | A profilon belül módosíthatóak a felhasználói adatok, amelyek relogin után meg is változnak. | A várt működésnek megfelelő eredmény. | - |
| **Szolgáltatások értékelése** | A rendelés leadása után megnyílik egy oldal, ahol értékelhetjük a szolgáltatásokat. | A várt működésnek megfelelő eredmény. | - |
| **Fiók törlése** | A fiók törlése az adatbázisból, a gomb lenyomása után. | A várt működésnek megfelelő eredmény. | A usert érdemes lenne megkérdezni a törlés előtt, hogy biztos-e a döntésében. |
| **Keresés** | A termékek közötti keresés mezőbe beírt stringet tartalmaznia kell a termék nevének | A várt működésnek megfelelő eredmény. | - |

**Front-end / design elemek tesztelése:**

**Böngésző: Microsoft Edge**

| **Tesztelendő elem** | **Elvárt működés** | **Eredmény** | **Megjegyzés** |
| --- | --- | --- | --- |
| **Navbar** | Ha a navbar elemeire ráviszem az egeret, egyértelműen jeleznie kell, hogy az adott elem van kiválasztva (hover effect) | A várt működésnek megfelelő eredmény. | - |
| **Navbar** | Az oldal méretezése esetén is az összes hivatkozás látható maradjon | A várt működésnek megfelelő eredmény. | - |
| **Termékek listázása** | Ha az áruházban található termékek listázásra kerülnek, és az oldal mérete megváltozik, akkor az összes terméknek láthatónak kell maradnia. (sortöréssel) | A várt működésnek megfelelő eredmény. | A kereső bar bele csúszik h1 szövegbe ha nagyon kicsire vesszük az ablakot. |
| **Aktív oldal** | Az aktív oldalt mindig 10%-al nagyobb betűmérettel, fehér keretbe kell látnunk a navbarban | A várt működésnek megfelelő eredmény. | - |

**Böngésző: Firefox**

| **Tesztelendő elem** | **Elvárt működés** | **Eredmény** | **Megjegyzés** |
| --- | --- | --- | --- |
| **Navbar** | Ha a navbar elemeire ráviszem az egeret, egyértelműen jeleznie kell, hogy az adott elem van kiválasztva (hover effect) | A várt működésnek megfelelő eredmény. | - |
| **Navbar** | Az oldal méretezése esetén is az összes hivatkozás látható maradjon | A várt működésnek megfelelő eredmény. | - |
| **Termékek listázása** | Ha az áruházban található termékek listázásra kerülnek, és az oldal mérete megváltozik, akkor az összes terméknek láthatónak kell maradnia. (sortöréssel) | A várt működésnek megfelelő eredmény. | A kereső bar bele csúszik h1 szövegbe ha nagyon kicsire vesszük az ablakot. |
| **Aktív oldal** | Az aktív oldalt mindig 10%-al nagyobb betűmérettel, fehér keretbe kell látnunk a navbarban | A várt működésnek megfelelő eredmény. | - |

**Böngésző: Google Chrome**

| **Tesztelendő elem** | **Elvárt működés** | **Eredmény** | **Megjegyzés** |
| --- | --- | --- | --- |
| **Navbar** | Ha a navbar elemeire ráviszem az egeret, egyértelműen jeleznie kell, hogy az adott elem van kiválasztva (hover effect) | A várt működésnek megfelelő eredmény. | - |
| **Navbar** | Az oldal méretezése esetén is az összes hivatkozás látható maradjon | A várt működésnek megfelelő eredmény. | - |
| **Termékek listázása** | Ha az áruházban található termékek listázásra kerülnek, és az oldal mérete megváltozik, akkor az összes terméknek láthatónak kell maradnia. (sortöréssel) | A várt működésnek megfelelő eredmény. | A kereső bar bele csúszik h1 szövegbe ha nagyon kicsire vesszük az ablakot. |
| **Aktív oldal** | Az aktív oldalt mindig 10%-al nagyobb betűmérettel, fehér keretbe kell látnunk a navbarban | A várt működésnek megfelelő eredmény. | - |