body {
    background-color: gray;
    margin: 0px;
}
#page {
    background-color: rgba(255, 255, 255, 0.5);
}
header {
    position: relative;
    margin: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 200px;
}
nav {
    margin-top: 1px;
    background: rgb(8,30,218);
    background: linear-gradient(84deg, rgba(8,30,218,1) 0%, rgba(189,189,189,1) 100%);
    height: 40px;
    text-align: center;
    overflow: hidden;
}
.navbutton {
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
}
.navbutton a {
    text-decoration: none;
    padding: 70px;
    color: black;
}
.active {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.25);
}

.productCard {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 15px;
}

.productCard h4 {
    background-color: #000000A0;
    padding: 10px 15px;
    margin: 0;
    color: white;
    text-align: center;
}

.productCard img {
    width: 100%;
    height: 70%;
}

.orderContainer {
    height: 20%;
    font-size: 12pt;
    text-align: center;
    background-color: lime;
}

.orderContainer button {
    width: 100%;
    height: 50%;
    background-color: yellow;
    border: none;
}

.productList {
    margin: 10px;
    background-color: gray;
    border-style: solid;
    border-width: 2px;
    border-color: green;
    display: flex;
}

.productsHeader {
    margin-left: 10px;
}

.userInfo {
    float: right;
    position: relative;
    height: max-content;
    margin: 5px;
    margin-top: 10px;
    margin-right: 15px;
}
.userInfo a {
    color: black;
}

.form_login_row {
    width: 250px;
    height: max-content;
    margin: auto;
    padding: 10px;
    background-color: cornsilk;
    text-align: center;
}

.form_login_row .btnSubmit {
    background-color: greenyellow;
    border-radius: 5px;
}

.login_info {
    width: 250px;
    height: max-content;
    margin: auto;
    padding: 10px;
    background-color: cornsilk;
    text-align: center;
}

.product {
    background-color: #FAFAFAAB;
    border: 2px solid lime;
    border-radius: 25px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 25%; 
    right: 25%;
    margin: 12px 0px;
    overflow: visible;
}

.product h3 {
    text-align: center;
}

.product button {
    font-size: 24px;
    position: relative;
    left: 25%;
    width: 50%;
    border-radius: 24px;
    margin-bottom: 5px;
}

#addToFavorite {
    margin: 5px;
    font-size: 200%;
    float: right;
}
#backToBrowse {
    margin: 5px;
    font-size: 200%;
    float: left;
}

.product h4 {
    position: absolute;
    left: 50%;
    margin: 10px;
}

#rating {
    top: 20%;
}

#category {
    top: 30%;
}
.nomads_logo{
position: relative;
width: 150px;
height: 100px;
}