body {
    background-color: gray;
    margin: 0px;
}
#page {
    background-color: rgba(255, 255, 255, 0.5);
}
header {
    position: relative;
    margin: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 200px;
}
footer{
    position: relative;
    background-color: rgba(33, 20, 70, 0.808);
    color: whitesmoke;
    margin-top: 445px;
}
nav {
    margin-top: 1px;
    background: rgb(8,30,218);
    background: linear-gradient(84deg, rgba(8,30,218,1) 0%, rgba(189,189,189,1) 100%);
    height: 40px;
    text-align: center;
    overflow: hidden;
}
.navbutton {
    background-color: transparent;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
}
.navbutton:hover{
    background-color:rgb(8,30,218);
}
.navbutton a:hover{
    color:wheat;
}
.navbutton a {
    text-decoration: none;
    padding: 70px;
    color: rgb(20, 2, 2);
}
.active {
    background-color: rgba(6, 45, 117, 0.589);
}

.productCard {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 15px;
}

.productCard h4 {
    background-color: #000000A0;
    padding: 10px 15px;
    margin: 0;
    color: white;
    text-align: center;
}

.productCard img {
    width: 100%;
    height: 70%;
}

.orderContainer {
    height: 20%;
    font-size: 12pt;
    text-align: center;
    background-color: lime;
}

.orderContainer button {
    width: 100%;
    height: 50%;
    background-color: yellow;
    border: none;
}

.productList {
    margin: 10px;
    background-color: gray;
    border-style: solid;
    border-width: 2px;
    border-color: green;
    display: flex;
}

.productsHeader {
    margin-left: 10px;
}

.userInfo {
    float: right;
    position: relative;
    height: max-content;
    margin: 5px;
    margin-top: 10px;
    margin-right: 15px;
}
.userInfo a {
    color: black;
}

.form_login_row {
    width: 250px;
    height: max-content;
    margin: auto;
    padding: 10px;
    background-color: cornsilk;
    text-align: center;
}

.form_login_row .btnSubmit {
    background-color: greenyellow;
    border-radius: 5px;
}

.login_info {
    width: 250px;
    height: max-content;
    margin: auto;
    padding: 10px;
    background-color: cornsilk;
    text-align: center;
}

.user_panel {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

.user_panel .modify_button a {
    text-decoration: none;
    color: black;
}

.bg_lightgray {
    background-color: lightgray;
    margin: 10px;
}

.form_modify_row {
    margin-bottom: 10px;
}

.btnDelete {
    background-color: red;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.user_panel .logout_button a {
    text-decoration: none;
    color: black;
}

.product {
    background-color: #FAFAFAAB;
    border: 2px solid lime;
    border-radius: 25px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 25%; 
    right: 25%;
    margin: 12px 0px;
    overflow: visible;
}
.product button a {
    display: block;
    width: auto;
    height: auto;
}

.product img {
    width: 196px;
    height: 196px;
    margin-left: 10px;
}

.product h3 {
    text-align: center;
}

.product button {
    font-size: 24px;
    position: relative;
    left: 25%;
    width: 50%;
    border-radius: 24px;
    margin-bottom: 5px;
}

#addToFavorite {
    margin: 5px;
    font-size: 200%;
    float: right;
}
#backToBrowse {
    margin: 5px;
    font-size: 200%;
    float: left;
}

.product h4 {
    position: absolute;
    left: 50%;
    margin: 10px;
}

#rating {
    top: 20%;
    display: inline;
    margin: 0px 50px;
    position: relative;
    float: right;
}

.checked {
    color: orange;
}

#category {
    top: 30%;
}
.nomads_logo{
position: relative;
width: 150px;
height: 100px;
}
#addToCart{
    background-color: tomato;
    font-style: oblique;
    font-weight: bold;
    color: black;
}
#addToCart:hover{
    background-color: brown;
    color: wheat;
}
.item {
    margin-left: 10px;
    background-color: gainsboro;
    padding: 5px;
    width: 88%;
}

.cart-header {
    color: white;
    font-size: 18pt;
    position: relative;
}

.cart-item-name {
    margin-left: 10px;
}

.cart-item-quantity {
    margin-left: 52%;
}

.cart-item-price {
    margin-left: 50px;
}

.cart-outline {
    background-color: rgba(43, 43, 92, 0.808);
    border-radius: 10px;
    width: 75%;
    margin: auto;
    padding: 5px;
}

.cart-quantity-panel {
    display: inline;
    position: absolute;
    left: 66%;
}

.cart-quantity {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 5px;
}

.cart-remove-panel {
    float: right;
    position: relative;
    right: 60px;
    bottom: 29px;
}

.cart-remove-button {
    text-decoration: none;
    color: red;
    padding: 7px;
    border: 1px solid red;
    font-size: 15pt;
    border-radius: 5px;
    background-color: rgba(124, 0, 0);
}

.cart-quantity-button {
    font-size: 10pt;
    text-decoration: none;
    color: black;
}

.cart-summary-panel {
    margin-left: 1%;
}

.cart-summary-panel .cart-summary {
    font-size: 18pt;
    color: white;
}

.cart-summary-panel .cart-items-price {
    margin-left: 70%;
}

.cart h2 {
    text-align: center;
}

.item span {
    font-size: 16pt;
}

.itemprice {
    float: right;
}