html{
    overflow-y: scroll;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 100px;
    /*
    position: fixed;   
    height: 100%;
    width:  100%;
    */
}
.home{  
    width: 100%;
    height: 100%;  
}
.home div{
    width: 70%;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color: rgba(15, 15, 15, 0.603);
    text-shadow: 1px 1px black;
    color: white;
    margin-top: 2%;
}
.home div a{
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
}
.home div a:hover{
    color:rgb(39, 39, 122);
}
.regContainer{
    box-sizing: border-box;
    padding: 16px;
    width: 40%;
    justify-content: center;
    margin: auto;   
}
.regElements{
    width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.regElements:hover{
    background-color: #ddd;
  outline: none;
}
.regButton {
    background-color:rgba(41, 174, 197, 0.582);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.regButton:hover{
    opacity: 1;
}

.ratingContainer{
    box-sizing: border-box;
    padding: 16px;
    width: 40%;
    justify-content: center;
    margin: auto;   
}
.rateElements{
    width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.rateElements:hover{
    background-color: #ddd;
  outline: none;
}
.rateButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.rateButton:hover{
    opacity: 1;
}

.reportContainer{
    box-sizing: border-box;
    padding: 16px;
    width: 40%;
    justify-content: center;
    margin: auto;   
}
.reportElements{
    width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.reportElements:hover{
    background-color: #ddd;
  outline: none;
}
.reportButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.reportButton:hover{
    opacity: 1;
}


header{
    background-image: url('../frontend/pictures/header_background.png');
    background-size: cover;
    position: relative;
    margin: 0px;
    z-index:0;
    height: 300px;
    border-bottom: 1px solid black;
}
footer{
    margin-top:10px;
    background-color: rgba(105, 105, 105, 0.582);
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 2px black;
}
nav {
    margin-top: 1px;
    background:transparent;
    min-height: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    bottom: 70px;
    float: right;
}
.navbutton {
    background-color:transparent;
    border-radius: 8px;   
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    width: 138px;
    line-height: 38px;
    margin-right: 15px;

}
.navbutton:hover{
    background-color: rgba(65, 75, 80, 0.123);
}
.navbutton a:hover{
    color: rgb(1, 9, 14);
}
.navbutton a {
    text-decoration: none;
    color: rgb(20, 2, 2);
    text-shadow: 1px 1px 2px white;
}
.active {
    border-radius: 50px;  
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: rgba(233, 233, 233, 0.1);
    height: 38px;
    font-size: 18px;
   
}

.productCard {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 15px;
    float: left;
}

.productCard h4 {
    background-color: #194e4e;
    padding: 10px 15px;
    margin: 0;
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
}
.productList div a{
    text-decoration: none;
}

.productCard img {
    height: auto;
    width: 100%;
    height: 70%;
}

.orderContainer {
    height: 20%;
    width: 100%;
    font-size: 12pt;
    text-align: center;
    position: absolute;
    bottom: -4%;
}

.orderContainer button {
    width: 100%;
    height: 50%;
    border: none;
}

.productList {
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 7%;
}

.userInfo {
    float: right;
    position: relative;
    height: max-content;
    margin: 5px;
    margin-top: 10px;
    margin-right: 15px;
}
.userInfo a {
    color: black;
    text-decoration: auto;  
}
.userInfo a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.loginButton{
    color: black;
    text-decoration: auto;
    border-radius: 10px;
    border: 2px solid powderblue;
    padding: 5px;
}
.loginButton:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.favProducts{
    margin-left: 10%;
    text-shadow: 2px 1px 6px #122957;
    color: ghostwhite; 
}

.login_info {
    width: 250px;
    height: max-content;
    margin: auto;
    padding: 10px;
    background-color: cornsilk;
    text-align: center;
}

.user_panel {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

.user_panel .modify_button a {
    text-decoration: none;
    color: black;
}

.form_modify_row {
    margin-bottom: 10px;
}

.btnDelete {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
}
.btnDelete:hover{
    background-color:rgb(182, 0, 0);
}

.user_panel .logout_button a {
    text-decoration: none;
    color: black;
}

.product {
    background-color: #FAFAFAAB;
    border: 2px solid lime;
    border-radius: 25px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 25%; 
    right: 25%;
    margin: 12px 0px;
    overflow: visible;
}
.product button a {
    display: block;
    width: auto;
    height: auto;
}

.product img {
    width: 196px;
    height: 196px;
    margin-left: 10px;
}

.product h3 {
    text-align: center;
}

.product .add-to-cart-button {
    font-size: 24px;
    position: relative;
    left: 25%;
    width: 50%;
    border-radius: 24px;
    margin-bottom: 5px;
}

#addToFavorite {
    margin: 5px;
    font-size: 200%;
    float: right;
}

.product .removeButton {
    margin: 5px;
    font-size: 200%;
    float: right;
    background: none;
    border: none;
    color: red;
}

#backToBrowse {
    margin: 5px;
    font-size: 200%;
    float: left;
}

.product #category {
    position: absolute;
    left: 80%;
    margin: 10px;
}

.product #categorylabel {
    position: absolute;
    float: left;
    left: 60%;
    bottom: 57%;
}

.product #ratinglabel {
    position: absolute;
    float: left;
    left: 60%;
    bottom: 71%;
}

#rating {
    top: 20%;
    display: inline;
    margin: 0px 50px;
    position: relative;
    float: right;
}

.checked {
    color: orange;
}

#category {
    top: 30%;
}
.nomads_logo{
position: relative;
width: 150px;
height: 100px;
}
.nomads_logo:hover{
opacity: 0.75;
}
#addToCart{
    font-weight: bold;
    color: black;
    background-color: rgb(185, 184, 184);
    cursor: pointer;
}
#addToCart:hover{
    background-color: rgb(201, 201, 201);
    color: rgb(0, 39, 112);
}
.item {
    margin-left: 10px;
    background-color: gainsboro;
    padding: 5px;
    width: 88%;
}

.cart-header {
    color: white;
    font-size: 18pt;
    position: relative;
}

.cart-item-name {
    margin-left: 10px;
}

.cart-item-quantity {
    margin-left: 52%;
}

.cart-item-price {
    margin-left: 50px;
}

.cart-outline {
    background-color: rgba(43, 43, 92, 0.808);
    border-radius: 10px;
    width: 75%;
    margin: auto;
    padding: 5px;
}

.cart-quantity-panel {
    display: inline;
    position: absolute;
    left: 63%;
}

.cart-quantity {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 5px;
}

.cart-remove-panel {
    float: right;
    position: relative;
    right: 60px;
    bottom: 29px;
}

.cart-remove-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 7px;
    border: 1px solid red;
    font-size: 15pt;
    border-radius: 5px;
    background-color: rgb(105, 19, 19);
}
.cart-remove-button:hover{
    background-color: rgb(182, 0, 0);
}

.cart-quantity-button {
    font-size: 10pt;
    text-decoration: none;
    color: black;
}

.cart-summary-panel {
    margin-left: 1%;
}

.cart-summary-panel .cart-summary {
    font-size: 18pt;
    color: white;
}

.cart-summary-panel .cart-items-price {
    margin-left: 70%;
}

.cart h2 {
    text-align: center;
}

.cart-order-button {
    background-color: lawngreen;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    position: relative;
    left: 80%;
}

.item span {
    font-size: 16pt;
}

.itemprice {
    float: right;
}

.orderPage{
    margin: 10px;
    padding: 2px;
    width: 80%;
    background-color: gray;
    position: relative;
    left: 10%;
    right: 10%;
    border: 3px solid;
    border-color: darkcyan;
}

.orderPage h5{
    float: right;
}

.orderPage #inputdata input{
    margin: 5px;
    width: 50%;
    position: relative;
    left: 25%;
    right: 25%;
}

#inputpaymentmethod{
    margin: 10px;
    position: relative;
}

.orderPage button{
    background: lightgreen;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px 5px 25px 5px;
    width: 25%;
    height: 50px;
    font-size: 20pt;
    position: relative;
    left: 37%;
}
.moveIt{
    margin-left: 15%;
}
.alignUsername{
    margin-left: 5px;
    margin-top: 7px;
}
.filterBar{
    
    float: right;
    margin-right: 14%;
    outline: 1px solid black;
    overflow: hidden;
    position: relative;
    float: right;
    bottom: 55px;
}
.filterBar input{
    padding: 10px;
    margin: 0;
    outline: none;
    border: none;
}
.filterBar button{
    padding: 10px;
    margin: 0;
    border: none;
}
.filterBarText{
    margin-left: 10%;
}

.add-product {
    border-radius: 5px;
    background-color: #4CAF50;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    right: 14%;
    overflow: hidden;
}

.add-product-button {
    color: lawngreen;
    text-decoration: none;
    font-size: 18pt;
    position: relative;
    padding: 30%;
    line-height: 40px;
    vertical-align: middle;
}

.add-product:hover {
    transition: 500ms;
    background-color: lawngreen;
}
.add-product-button:hover {
    transition: 500ms;
    color: #4caf50;
}

.addFormContainer {
    box-sizing: border-box;
    padding: 16px;
    width: 40%;
    justify-content: center;
    margin: auto;      
}

.addButton {
    background-color:rgba(41, 174, 197, 0.582);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.addButton:hover {
    opacity: 1;
}

.addElements {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.addElements:hover{
    background-color: #ddd;
    outline: none;
}

.image-container {
    width: 20%;
    height: 50%;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    margin: 20px;
    left: 7%;
    padding: 5px;
}
.image-container #preview {
    width: 100%;
    height: auto;
    position: relative;
    top: 25%;
    bottom: 25%;
}

#bugreports-container {
    width: 70%;
    margin: auto;
    background-color: rgb(39, 39, 122);
    border-radius: 5px;
    padding: 5px;
}

.br-header-element {
    color: white;
    font-size: 18pt;
    margin: 5px 200px 5px 5px;
}

.bugreport-row {
    background-color: white;
    margin: 5px;
    width: 99%;
    position: relative;
}
.br-cell-user {
    position: relative;
}
.br-cell-report {
    position: absolute;
    left: 28%;
}
.br-cell-date {
    position: absolute;
    left: 61%;
}
